# Core
Django==6.0.5
djangorestframework==3.15.2
psycopg[binary]>=3.2.10

# Auth
djangorestframework-simplejwt==5.3.1

# Filtering & search
django-filter==24.3

# CORS
django-cors-headers==4.6.0

# Config
python-decouple==3.8

# Images
Pillow>=11.2.1

# API docs
drf-spectacular==0.27.2

# Dev & testing
pytest-django==4.9.0
factory-boy==3.3.1
django-debug-toolbar==4.4.6
